<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Social Network</a>
        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Search -->
            <form class="mx-5 w-100" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            </form>

            <!-- Nav Item -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-4">
                    <button class="btn btn-primary btn-sm" type="button">Upload</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary btn-sm" type="button">User</button>
                </li>
            </ul>
        </div>
    </div>
</nav>