<section id="activity" class="border-bottom">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3 pb-2 border-bottom">
            <h5 class="text-black">
                Channel
            </h5>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let item of Channels" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
            <div class="card bg-secondary border-0 shadow-sm" style="height: 150px">
                <div class="card-body h-100">
                    <div class="row align-items-end h-100">
                        <p class="text-white">
                            {{ item.title }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>