<section id="videos">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5 class="text-black">
                Videos
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mb-2">
            <div class="card bg-secondary border-0 shadow-sm" style="height: 250px; width: 100%">
                <div class="card-body">
                    <div class="row h-100 align-items-end">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="mb-0 text-white fw-semibold">
                                {{ Videos[0].title }}
                            </p>
                            <p class="mb-0 text-white">
                                {{ Videos[0].author }}
                                <span class="float-end">
                                    {{ Videos[0].views | number }} Views
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-2">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                    <div class="card bg-secondary border-0 shadow-sm" style="height: 120px; width: 100%">
                        <div class="card-body">
                            <div class="row h-100 align-items-end">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p class="mb-0 text-white" style="font-size: 10px">
                                        {{ Videos[1].author }}
                                        <span class="float-end">
                                            {{ Videos[1].views | number }} Views
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card bg-secondary border-0 shadow-sm" style="height: 120px; width: 100%">
                        <div class="card-body">
                            <div class="row h-100 align-items-end">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p class="mb-0 text-white" style="font-size: 10px">
                                        {{ Videos[2].author }}
                                        <span class="float-end">
                                            {{ Videos[2].views | number }} Views
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-2">
            <div class="card bg-secondary border-0 shadow-sm" style="height: 120px; width: 100%">
                <div class="card-body">
                    <div class="row h-100 align-items-end">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="mb-0 text-white" style="font-size: 10px">
                                {{ Videos[3].author }}
                                <span class="float-end">
                                    {{ Videos[3].views | number }} Views
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-2">
            <div class="card bg-secondary border-0 shadow-sm" style="height: 120px; width: 100%">
                <div class="card-body">
                    <div class="row h-100 align-items-end">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="mb-0 text-white" style="font-size: 10px">
                                {{ Videos[4].author }}
                                <span class="float-end">
                                    {{ Videos[4].views | number }} Views
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-2">
            <div class="card border-0 shadow-sm" style="height: 120px; width: 100%">
                <div class="card-body">
                    <div class="row h-100 align-items-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <p class="text-black mb-0" style="font-size: 10px">
                                <i class="fas fa-upload"></i>&nbsp; Upload Your Own Video
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>