<section id="social_network">
    <app-navbar></app-navbar>

    <div class="container pt-3">
        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-breadcrumb></app-breadcrumb>
            </div>
        </div>

        <div class="row">
            <!-- Videos -->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mb-3">
                <app-videos></app-videos>
            </div>

            <!-- Activity -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-3">
                <app-activity></app-activity>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mb-3">
                <!-- People -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-2 mb-3">
                        <app-people></app-people>
                    </div>
                </div>

                <!-- Documents -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-2 mb-3">
                        <app-documents></app-documents>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <app-channels></app-channels>
            </div>
        </div>
    </div>
</section>